$icon-font-path: "../src/sass/vendor/bootstrap-sass-3.3.7/assets/fonts/bootstrap/";
@import 'vendor/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap-custom/';


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}
body {
    line-height: 1;
    font-size: 1em;
    background-color: #121212;
    margin: 0 auto;
}

@import 'pages/home';
@import 'pages/portfolio';
@import 'pages/projects';
@import 'pages/cv';
@import 'pages/contact';
@import 'modules/nav';
@import 'modules/footer';
@import 'pages/projects/dom';


/** 

    rem multiplier : 1.25; 

    0.8rem;
    1rem;
    1.25rem;
    1.56rem;
    1.95rem;
    2.44rem;
    3.05rem;
    3.81rem;
    4.76rem;

**/
