<nav class="header-large">
    <div class="nav-container row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="nav__logo-wrap">
                <div>
                    <a class="nav__logo-link" href="/">
                        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                            <!-- Created with Inkscape (http://www.inkscape.org/) -->
                            <svg
                            xmlns:dc="http://purl.org/dc/elements/1.1/"
                            xmlns:cc="http://creativecommons.org/ns#"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                            width="26.378479mm"
                            height="21.500059mm"
                            viewBox="0 0 93.467052 76.181312"
                            class="nav__logo-svg"
                            version="1.1"
                            inkscape:version="0.91 r13725"
                            sodipodi:docname="logo-draw.svg">
                            <defs
                                id="defs4" />
                            <sodipodi:namedview
                                id="base"
                                pagecolor="#ffffff"
                                bordercolor="#666666"
                                borderopacity="1.0"
                                inkscape:pageopacity="0.0"
                                inkscape:pageshadow="2"
                                inkscape:zoom="1"
                                inkscape:cx="-415.64951"
                                inkscape:cy="146.49586"
                                inkscape:document-units="px"
                                inkscape:current-layer="layer1"
                                showgrid="false"
                                showborder="false"
                                fit-margin-top="0"
                                fit-margin-left="0"
                                fit-margin-right="0"
                                fit-margin-bottom="0"
                                inkscape:window-width="1920"
                                inkscape:window-height="1018"
                                inkscape:window-x="1672"
                                inkscape:window-y="-8"
                                inkscape:window-maximized="1" />
                            <metadata
                                id="metadata7">
                                <rdf:RDF>
                                <cc:Work
                                    rdf:about="">
                                    <dc:format>image/svg+xml</dc:format>
                                    <dc:type
                                    rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                                    <dc:title></dc:title>
                                </cc:Work>
                                </rdf:RDF>
                            </metadata>
                            <g
                                inkscape:label="Layer 1"
                                inkscape:groupmode="layer"
                                id="layer1"
                                transform="translate(-450.51354,-480.69058)">
                                <rect
                                style="opacity:1;fill:#fff6d5;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                                id="rect4161-7"
                                width="77.921539"
                                height="9.3707905"
                                x="671.51868"
                                y="164.2702"
                                transform="matrix(0.5245984,0.85134982,0.86860509,-0.495505,0,0)"
                                inkscape:export-xdpi="96.290627"
                                inkscape:export-ydpi="96.290627" />
                                <rect
                                style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                                id="rect4161"
                                width="83.62944"
                                height="10.05722"
                                x="-256.28806"
                                y="673.44971"
                                transform="matrix(0.5245984,-0.85134982,0.86860509,0.495505,0,0)"
                                inkscape:export-xdpi="96.290627"
                                inkscape:export-ydpi="96.290627" />
                            </g>
                            </svg>
                        <div class="nav__logo-name">
                            <div>AGATA</div>
                            <div>PATEL</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div id="nav-links-wrap" class="col-md-6 nav-links-wrap navbar-collapse collapse-in">
            <ul class="nav-links">
                <li><a id="portfolio-link" href="/portfolio">portfolio</a></li>
                <li><a id="projects-link" href="/projects">projekty</a></li>
                <li><a id="cv-link" href="/cv">cv</a></li>
                <li><a id="contact-link" href="/contact">kontakt</a></li>
                <li class="lang-chooser">
                    <a>
                        <span class="lang-selected">pl</span>
                        <span>en</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-button">
            <span>MENU!</span>
        </div>
    </div>
</nav>