<nav class="header-large">
    <div class="nav-container row">
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="nav__logo-wrap">
                <div>
                    <a class="nav__logo-link" href="/">
                        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                        <svg xmlns="http://www.w3.org/2000/svg" width="26.378479mm" height="21.500059mm" viewBox="0 0 93.467052 76.181312" class="nav__logo-svg">
                            <g transform="translate(-450.51354,-480.69058)">
                                <rect style="fill:#fff6d5;"
                                width="77.921539" height="9.3707905" x="671.51868" y="164.2702"
                                transform="matrix(0.5245984,0.85134982,0.86860509,-0.495505,0,0)" />
                                <rect style="fill:#ffffff;"
                                width="83.62944" height="10.05722" x="-256.28806" y="673.44971"
                                transform="matrix(0.5245984,-0.85134982,0.86860509,0.495505,0,0)" />
                            </g>
                        </svg>
                        <div class="nav__logo-name">
                            <div>AGATA</div>
                            <div>PATEL</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div id="nav-links-wrap" class="col-md-9 col-sm-9 nav-links-wrap">
            <ul class="nav-links">
                <li><a id="portfolio-link" href="/portfolio">portfolio</a></li>
                <li><a id="projects-link" href="/projects">projekty</a></li>
                <li><a id="cv-link" href="/cv">cv</a></li>
                <li><a id="contact-link" href="/contact">kontakt</a></li>
                <li class="lang-chooser">
                    <a>
                        <span class="lang-selected">pl</span>
                        <span>en</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-button col-sm-9 col-xs-6">
            <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
            </svg>
        </div>
    </div>
</nav>
<section class="mobile-menu">
    <div class="mobile-menu__close">
        <svg fill="#000000" class="mobile-menu__close-svg" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
    </div>
    <div class="nav__logo-svg-wrap">
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <svg xmlns="http://www.w3.org/2000/svg" width="26.378479mm" height="21.500059mm" viewBox="0 0 93.467052 76.181312" class="nav__logo-svg">
            <g transform="translate(-450.51354,-480.69058)">
                <rect style="fill:#fff6d5;"
                width="77.921539" height="9.3707905" x="671.51868" y="164.2702"
                transform="matrix(0.5245984,0.85134982,0.86860509,-0.495505,0,0)" />
                <rect style="fill:#ffffff;"
                width="83.62944" height="10.05722" x="-256.28806" y="673.44971"
                transform="matrix(0.5245984,-0.85134982,0.86860509,0.495505,0,0)" />
            </g>
        </svg>
    </div>
    <ul class="nav-links">
        <li><a id="portfolio-link" href="/portfolio">portfolio</a></li>
        <li><a id="projects-link" href="/projects">projekty</a></li>
        <li><a id="cv-link" href="/cv">cv</a></li>
        <li><a id="contact-link" href="/contact">kontakt</a></li>
        <li class="lang-chooser">
            <a>
                <span class="lang-selected">pl</span>
                <span>en</span>
            </a>
        </li>
    </ul>
</section>
