.projects {
    z-index: 1;
    padding-top: 5vh;
    img {
        width: 100%;
    }
    &-row {
        width: 100%;
        padding: 100px 0;
        max-width: 1300px;
        margin: 0 auto;
        &-title {
            padding: 0;
        }
    }
    &-col {
        &:first-child {
            padding-right: 5px;
            padding-left: 0;
        }
        &:last-child {
            padding-left: 5px;
            padding-right: 0;
        }
    }
    &-title {
        font-size: 6vw;
        font-family: 'Josefin Slab', serif;
        text-transform: uppercase;
        color: #996e09;
        margin-top: 15px;
        z-index: 1;
    }
}

.projects-row-1 {
    padding-bottom: 0;
}


/*** HEXAGON CSS ***/
#categories{
  overflow:hidden;
  width:90%;
  margin:0 auto;
}
.clr:after{
  content:"";
  display:block;
  clear:both;
}
#categories li{
  position:relative;
  list-style-type:none;
  width:27.85714285714286%; /* = (100-2.5) / 3.5 */
  padding-bottom: 32.16760145166612%; /* =  width /0.866 */
  float:left;
  overflow:hidden;
  visibility:hidden;
 
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(3n+2){
  margin:0 1%;
}
#categories li:nth-child(6n+4){
  margin-left:0.5%;
}
#categories li:nth-child(6n+4), #categories li:nth-child(6n+5), #categories li:nth-child(6n+6) {
    margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(6n+4):last-child, #categories li:nth-child(6n+5):last-child, #categories li:nth-child(6n+6):last-child{
  margin-bottom:0%;
}
#categories li *{
  position:absolute;
  visibility:visible;
}
#categories li > div{
  width:100%;
  height:100%;
  text-align:center;
  color:#fff;
  overflow:hidden;
  
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  -webkit-backface-visibility: hidden;
}
#categories li > a{
  width:100%;
  height:100%;
  text-align:center;
  color:#fff;
  overflow:hidden;
  display: block;
  
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  -webkit-backface-visibility: hidden;
}

/* HEX CONTENT */
#categories li img{
  left:-100%; right:-100%;
  width: auto; height:100%;
  margin:0 auto;
  filter: grayscale(100%) brightness(80%);
  transition: transform .5s ease-in-out;
}

#categories div h1, #categories div p{
  width:90%;
  padding:0 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.44rem;
  color: #121212;
  
  -webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  -ms-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}
#categories a h1, #categories a p{
  width:90%;
  padding:0 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.44rem;
  color: #121212;
  
  -webkit-transition: top .3s ease-out, bottom .3s ease-out, .3s padding .2s ease-out;
  -ms-transition: top .3s ease-out, bottom .3s ease-out, .3s padding .2s ease-out;
  transition: top .3s ease-out, bottom .3s ease-out, .3s padding .2s ease-out;
}
#categories li h1{
  bottom: 110%;
  font-weight:normal;
  padding-top:100%;
  padding-bottom:100%;
}
#categories li p{
	padding-top:50%;
	top:110%;
	padding-bottom:50%;
}


/* HOVER EFFECT  */

#categories li div:hover img {
  filter: grayscale(0) contrast(1.2);
  transform: scale(0.9);
}

#categories li div:hover h1 {
    bottom:50%;
    padding-bottom:10%;
    background-color: rgba(180, 130, 11, 0.9);
    width: 100%;
    color: #121212;
}

#categories li div:hover p{
  top:50%;
  padding-top:10%;
}


#categories li a:hover img {
  filter: grayscale(0) contrast(1.2);
  transform: scale(0.9);
}

#categories li a:hover h1 {
    bottom:50%;
    padding-bottom:10%;
    // background-color: rgba(180, 130, 11, 0.9);
    background-color: rgba(218, 165, 32, 0.3);
    width: 100%;
    color: #121212;
}

#categories li a:hover p{
  top:50%;
  padding-top:10%;
}

#categories h1:hover {
  text-decoration: underline;
}