.project {
    z-index: 1;
    padding-top: 12vh;
    img {
        width: 100%;
    }
    &-row {
        width: 100%;
        padding: 100px 0;
        max-width: 1300px;
        margin: 0 auto;
        &-title {
            padding: 0;
        }
        img {
           width: 100%;
           margin-bottom: 5%;
           margin-top: 5%; 
        }
    }
    &-col {
        &:first-child {
            padding-right: 5px;
            padding-left: 0;
        }
        &:last-child {
            padding-left: 5px;
            padding-right: 0;
        }
    }
    &-title {
        font-size: 6vw;
        font-family: 'Montserrat', serif;
        color: #996e09;
        margin-top: 15px;
        z-index: 1;
    }
    .project-images-wrap {
        padding: 100px 10vh;
        background-color: white;
        font-size: 1.56rem;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5;
    }
    .project-images-wrap:after {
        content: '';
        position: fixed;
        top: 0;
        height: 100vh;
        left: 0;
        width: 100%;
        background-color: #121212;
        background-image: url("data:image/svg+xml,%3Csvg width='80' height='40' viewBox='0 0 80 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23332f02' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M2.01 39.976c.02-4.594 1.786-9.182 5.302-12.687.475-.475.97-.917 1.483-1.327v9.77L4.54 39.977H2.01zm5.374 0L23.842 23.57c.687 5.35-1.03 10.95-5.154 15.06-.483.482-.987.93-1.508 1.346H7.384zm-7.384 0c.018-5.107 1.982-10.208 5.89-14.104 5.263-5.247 12.718-6.978 19.428-5.192 1.783 6.658.07 14.053-5.137 19.296H0zm10.806-15.41c3.537-2.116 7.644-2.92 11.614-2.415L10.806 33.73v-9.164zM65.25.75C58.578-1.032 51.164.694 45.93 5.93c-5.236 5.234-6.962 12.648-5.18 19.32 6.672 1.782 14.086.056 19.32-5.18 5.236-5.234 6.962-12.648 5.18-19.32zM43.632 23.783c5.338.683 10.925-1.026 15.025-5.126 4.1-4.1 5.81-9.687 5.126-15.025l-20.15 20.15zm7.186-19.156c3.518-2.112 7.602-2.915 11.55-2.41l-11.55 11.55v-9.14zm-3.475 2.716c-4.1 4.1-5.81 9.687-5.126 15.025l6.6-6.6V6.02c-.51.41-1 .85-1.474 1.323zM.07 0C.066 1.766.29 3.533.75 5.25c6.672 1.782 14.086.056 19.32-5.18l.072-.07H.072zm17.087 0C13.25 3.125 8.345 4.386 3.632 3.783L7.414 0h9.743zM2.07 0c-.002.79.047 1.582.147 2.368L4.587 0H2.07z'/%3E%3C/g%3E%3C/svg%3E");
        z-index: -1;
    }
}
.btn-next-project {
    float: right;
    text-align: center;
    background-color: transparent;
    color: rgba(255, 250, 242, 0.5);
    border: 2px solid transparent;
    padding: 10px 20px;
    font-size: 1.56rem;
    text-transform: uppercase;
    font-family: 'Josefin Slab', serif;
    border-color: rgba(218, 165, 32, 0.5);
    text-decoration: none;
    cursor: pointer;
    &:hover, &:active {
        border-color: rgba(218, 165, 32, 0.9);
        color: white;
        text-decoration: none;
    }
}