a {
    border: none;
    display: none;
    span {
        padding: 5px;
        border: 1px solid grey;
        cursor: pointer;
        &:hover {
            color: white;
        }
    }
    span:nth-child(1) {
        border-right-width: 0px;
    }
    span.lang-selected {
        background-color: rgba(255, 255, 255, .5);
        color: black;
    }
}
&:hover {
    a {
        color: rgba(255, 250, 242, 0.5);
        
    }
}
